{% extends 'base.html.twig' %}

{% block title %}DonationArgent index{% endblock %}

{% block body %}
    <h1>DonationArgent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Montant</th>
                <th>Methode_paiment</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for donation_argent in donation_argents %}
            <tr>
                <td>{{ donation_argent.id }}</td>
                <td>{{ donation_argent.Email }}</td>
                <td>{{ donation_argent.montant }}</td>
                <td>{{ donation_argent.MethodePaiment }}</td>
                <td>{{ donation_argent.Date ? donation_argent.Date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_donation_argent_show', {'id': donation_argent.id}) }}">show</a>
                    <a href="{{ path('app_donation_argent_edit', {'id': donation_argent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_donation_argent_new') }}">Create new</a>
{% endblock %}
