{% extends 'base.html.twig' %}

{% block title %}Nouvelle Donation{% endblock %}

{% block body %}
<section class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container mt-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="shadow-sm p-4 bg-light rounded">
                    <h3 class="mb-4 text-center">Ajouter une Donation</h3>
                    {{ form_start(form) }}
                    
                    <div class="mb-3">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.montant, 'Montant') }}
                        {{ form_widget(form.montant) }}
                    </div>
                     <div class="mb-3">
                        {{ form_label(form.hospital, 'hospital') }}
                        {{ form_widget(form.hospital) }}
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">Faire un don</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ stripe_public_key }}'); // Clé publique Stripe
        var checkoutButton = document.getElementById('donation-form');

        checkoutButton.addEventListener('submit', function(event) {
            event.preventDefault();

            fetch('{{ path('stripe_payment') }}', {
                method: 'POST',
                body: new FormData(checkoutButton),
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(sessionId) {
                return stripe.redirectToCheckout({ sessionId: sessionId.id });
            })
            .then(function(result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        });
    </script>
{% endblock %}
